<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>首页</h1>
<div>
    <table border="1">
    <th>

        <td>编号id</td>
        <td>姓名name</td>
        <td>年龄age</td>
        <td>地址addr</td>
    </th>
    <tr th:each="user:${users}">
        <td></td>
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.addr}"></td>
        <td><button>删除</button></td>
        <td><button>修改</button></td>
        <br>
    </tr>
    </table>

</div>

</body>
</html>
